<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>board list</title>
    <meta charset="utf-8">
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <link rel="stylesheet" type="text/css" href="../static/css/bootstrap.min.css" th:href="@{/css/bootstrap.min.css}">
</head>
<body>
<!-- 상단 네비게이션 바 -->
<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <a class="navbar-brand" th:if="${user} != null" th:href="@{/(user=${user})}">커뮤니티</a>
    <a class="navbar-brand" th:unless="${user} != null" th:href="@{/}">커뮤니티</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item">
                <a class="nav-link" th:href="@{/login}" th:if="${session.loginId} == null">로그인</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" th:href="@{/logout}" th:unless="${session.loginId} == null">로그아웃</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" th:href="@{/users/new}" th:if="${session.loginId} == null">회원가입</a>
            </li>
            <li class="nav-item active">
                <a class="nav-link" th:href="@{/}">Home <span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item">
                <a class="nav-link" th:href="@{/boardList}">게시판</a>
            </li>
        </ul>
        <form class="form-inline my-2 my-lg-0">
            <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
            <button class="btn btn-outline-success my-2 my-sm-0" type="submit">검색</button>
        </form>
    </div>
</nav>

<!-- 게시판 리스트 출력 -->
<div class="container">
    <table class="table table-hover">
        <thead>
        <tr>
            <th scope="col">번호</th>
            <th scope="col">제목</th>
            <th scope="col">작성자</th>
            <th scope="col">날짜</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="board : ${boardList}" th:if="${boardList} != null">
            <th scope="row" th:text="${board.id}">1</th>
            <td><a th:href="@{/board/{boardId}(boardId = ${board.id})}" th:text="${board.title}">Mark</a></td>
            <td th:text="${board.writerId}">Otto</td>
            <td th:text="${#calendars.format(board.create_date,'yyyy-MM-dd')}">@mdo</td>
        </tr>
        <tr th:unless="${boardList} != null">
            <th scope="row" colspan="4" class="text-center">게시글이 존재하지 않습니다.</th>
        </tr>
        </tbody>
    </table>
    <a class="btn btn-primary" th:href="@{/boardWrite}" role="button" th:if="${session.loginId} != null">글 작성</a>

    <!-- 페이지 번호 버튼 -->
    <nav aria-label="Page navigation example">
        <ul class="pagination justify-content-end" th:with="startPage=${paging.startPage}, endPage=${paging.endPage}">
            <li class="page-item"><a class="page-link" th:href="@{boardList(nowPage=${paging.startPage}-1)}" th:if="${paging.startPage} > 1">이전페이지</a></li>
            <th:block th:each="pageNum : ${#numbers.sequence(startPage, endPage)}">
                <li class="page-item"><a class="page-link" th:href="@{/boardList(nowPage=${pageNum})}" th:text="${pageNum}">1</a></li>
            </th:block>
            <li class="page-item"><a class="page-link" th:href="@{/boardList(nowPage=${endPage}+1)}" th:if="${paging.endPage} < ${paging.lastPage}">이후페이지</a></li>
        </ul>
    </nav>
</div>
<script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
<script type="text/javascript" src="../js/bootstrap.min.js" th:src="@{/js/bootstrap.min.js}"></script>
</body>
</html>