<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>board write</title>
    <meta charset="utf-8">
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <link rel="stylesheet" type="text/css" href="../static/css/bootstrap.min.css" th:href="@{/css/bootstrap.min.css}">
</head>
<body>
<!-- 상단 네비게이션 바 -->
<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <a class="navbar-brand" th:href="@{/}">커뮤니티</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item active">
                <a class="nav-link" href="#" th:unless="${session.loginId} == null" th:text="${session.loginId}"></a>
            </li>
            <li class="nav-item">
                <a class="nav-link" th:href="@{/login}" th:if="${session.loginId} == null">로그인</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" th:href="@{/logout}" th:unless="${session.loginId} == null">로그아웃</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" th:href="@{/users/new}" th:if="${session.loginId} == null">회원가입</a>
            </li>
            <li class="nav-item active">
                <a class="nav-link" th:href="@{/}">Home <span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item">
                <a class="nav-link" th:href="@{/boardList}">게시판</a>
            </li>
        </ul>

        <form class="form-inline my-2 my-lg-0">
            <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
            <button class="btn btn-outline-success my-2 my-sm-0" type="submit">검색</button>
        </form>
    </div>
</nav>

<div class="container">
    <!-- input의 name 부분이 객체의 변수들과 매핑됨. ex) title -> board.title, content -> board.content -->
    <div class="alert alert-warning" role="alert" th:text="${error}" th:if="${error} != null"></div>
    <form method="post" th:action="@{/board}">
        <div class="form-group">
            <label for="titleUse" th:if="${board} != null">제목</label>
            <label for="titleNotUse" th:unless="${board} != null">제목</label>
            <input class="form-control" type="text" name="title" id="titleUse" th:if="${board} != null" th:value="${board.title}"/>
            <input class="form-control" type="text" name="title" id="titleNotUse" th:unless="${board} != null"/>
        </div>
        <div class="form-group">
            <label for="contentUse" th:if="${board} != null">내용</label>
            <label for="contentNotUse" th:unless="${board} != null">내용</label>
            <textarea class="form-control" id="contentUse" name="content" rows="10" style="resize: none;" th:if="${board} != null" th:text="${board.content}"></textarea>
            <textarea class="form-control" id="contentNotUse" name="content" rows="10" style="resize: none;" th:unless="${board} != null"></textarea>
        </div>
        <input class="form-control invisible" type="text" name="writerId" th:value="${session.loginId}"/>
        <button type="submit" value="글 작성" class="btn btn-primary">글 작성</button>
    </form>
</div>
<script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
<script type="text/javascript" src="../js/bootstrap.min.js" th:src="@{/js/bootstrap.min.js}"></script>
<!-- 글자 수 제한 -->
<script type="text/javascript">
$(document).ready(function() {
    $('#contentUse').on('keyup', function() {
        if($(this).val().length > 500) {
            $(this).val($(this).val().substring(0, 500));
        }
    });
    $('#contentNotUse').on('keyup', function() {
        if($(this).val().length > 500) {
            $(this).val($(this).val().substring(0, 500));
        }
    });
});
</script>
</body>
</html>