<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>welcome page</title>
    <meta charset="utf-8">
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <link rel="stylesheet" type="text/css" href="../static/css/bootstrap.min.css" th:href="@{/css/bootstrap.min.css}">
</head>
<body>
<!-- 상단 네비게이션 바 -->
<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <a class="navbar-brand" th:if="${user} != null" th:href="@{/(user=${user})}">커뮤니티</a>
    <a class="navbar-brand" th:unless="${user} != null" th:href="@{/}">커뮤니티</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item">
                <a class="nav-link" th:href="@{/login}">로그인</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" th:href="@{/users/new}">회원가입</a>
            </li>
            <li class="nav-item active">
                <a class="nav-link" th:if="${user} != null" th:href="@{/(user=${user})}">Home <span class="sr-only">(current)</span></a>
                <a class="nav-link" th:unless="${user} != null" th:href="@{/}">Home <span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item">
                <a class="nav-link" th:if="${user} != null" th:href="@{/board(user=${user})}">게시판</a>
                <a class="nav-link" th:unless="${user} != null" th:href="@{/board}">게시판</a>
            </li>
        </ul>
        <form class="form-inline my-2 my-lg-0">
            <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
            <button class="btn btn-outline-success my-2 my-sm-0" type="submit">검색</button>
        </form>
    </div>
</nav>

<!-- 회원가입 폼 -->
<div class="container">
    <div class="alert alert-warning" role="alert" th:text="${message}" th:if="${message} != null"></div>
    <form method="post" th:action="@{/joinUser}">
        <div class="form-group">
            <label for="id">id</label>
            <input class="form-control" type="text" name="id" id="id"/>
        </div>
        <div class="form-group">
            <label for="password">비밀번호</label>
            <input type="password" class="form-control" id="password" name="password"/>
        </div>
        <button type="submit" value="로그인" class="btn btn-primary">회원가입</button>
    </form>
</div>
</body>
</html>